.Serv_n_ProdNav {
    margin: 0;
    align-items: center;
    justify-content: space-between;
    display: inline-block;
    position: center;
    font-style:italic;
    text-emphasis-color:inherit;
    text-decoration:blink;
}
.Serv_n_ProdNav li {
    display: inline-block;
}
.Serv_n_ProdNav img {
    width: 100px;
    height: 200px;
}
.nav_prod_list{
    text-align: center;
}

.MainSection h2{
    text-align: center;
    align-items: center;
}

.MainSection img {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
}