<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>FullQuote</title>
    <link rel="stylesheet" type="text/css" href="../static/css/headers.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/Footer.css" />
</head>
<body>
    <header>
        <h1>Welcome to National Fencing</h1>
        <nav>
            <ul class="nav_style">
                <li><a href="/">Home</a></li>
                <li><a href="/ProductPage">Products</a></li>
                <li><a href="/FullQuotePage">Full Quotation</a></li>
                <li><a href="/About">About & Contact Details</a></li>
            </ul>
        </nav>
        <input class="SB" type="text" placeholder="Search Product...." />
    </header>
    
    <h1>Full Quote</h1>
    <p>Enter all information Requested</p>






    <footer>
        Contact us on :
    </footer>
</body>
</html>