<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>National Fencing Website</title>
    <link rel="stylesheet"
          href="..\CSS_Sheets\Header.css" />
</head>
<body>
    <header>
        <h1>Welcome to National Fencing</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="templates\ProductPage.html">Products</a></li>
                <li><a href="/">Full Quotation</a></li>
                <li><a href="/">Contact Details</a></li>
            </ul>
        </nav>
        <input type="text" placeholder="Search Product...." />

    </header>
<main>
    <h2>Wired for Success</h2>
    <p>National Fencing has been operational for more than 50 years. They have fenced for NGOs, Parastetals and Mines</p>

</main>
    <footer>
        <p><small>Copyright &copy;2024 ALX Program Project</small></p>
    </footer>
</body>
</html>