<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/headers.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/Footer.css" />

    <link rel="stylesheet" type="text/css" href="../static/css/MainPage.css" />
</head>
<body>
    <header>
        <h1>Welcome to National Fencing</h1>
        <nav>
            <ul class="nav_style">
                <li><a href="/">Home</a></li>
                <li><a href="/ProductPage">Products</a></li>
                <li><a href="/FullQuotePage">Full Quotation</a></li>
                <li><a href="/About">About & Contact Details</a></li>
            </ul>
        </nav>
        <input class="SB" type="text" placeholder="Search Product...." />
        <button type="submit">Enter</button>
    </header>
    
    <h1>Wired for Success</h1>
    <p>For all your fencing Soultions and Products</p>
    <nav class="nav_prod_list">
        <ul class="Serv_n_ProdNav">
            <li><a href="/ProductPage"><img src="../static/images/dmesh.jpg" alt="Diamond Mesh" title="Diamond Mesh" /><p>Diamond Mesh</p></a></li>
            <li><a href="/ProductPage"><img src="../static/images/electricfence.jpg" alt="Electric Fence" /><p>Electric Fence</p></a></li>
            <li><a href="/ProductPage"><img src="../static/images/Clearvu.jpg" alt="Wire Wall" /><p>Wire-Wall</p></a></li>
            <li><a href="/ProductPage"><img src="../static/images/FieldFence.jpg" alt="Field Fence" /><p>Field Fence</p></a></li>
            <li><a href="/ProductPage"><img src="../static/images/Barbed.jpg" alt="Barbed Wire" /><p>Barbed Wire</p></a></li>
            <li><a href="/ProductPage"><img src="../static/images/weldedmesh.jpg" alt="Welded Mesh" /><p>Welded Mesh</p></a></li>
            <li><a href="/ProductPage"><img src="../static/images/palisade.jpg" alt="Palisade" /><p>Palisade Fence</p></a></li>
            <li><a href="/ProductPage"><img src="../static/images/razorwire.jpg" alt="Razor wire" /><p>Razor Wire</p></a></li>
            <li><a href="/ProductPage"><img src="../static/images/steelworks.jpg" alt="Installation" /><p>Steelworks</p></a></li>
            <li><a href="/ProductPage"><img src="../static/images/installation.jpg" alt="Installation"/><p>Installation of Fence</p></a></li>
        </ul>
    </nav>
     
    <div class="MainSection">
        <h1>Services and Products Cover a wide Area</h1>
        <h2>Mines</h2>
        <img src="../static/images/mines.jpg" alt="Mine Fencing" />
        <p>
            For Heavy-Duty fence that requires high security fencing that inlcude
            <ul>
                <li>Galvanized 3.15mm diamond mesh fence</li>
                <li>Galvanized Welded-Mesh</li>
                <li>Anti-climb wire wall (ClearVu)</li>
            </ul>
            These will have either Barbed wire, Razor Wire or Electric Fence as a extra feature of security.
        </p>

        <h2>Agriculture</h2>
        <img src="../static/images/cows-in-a-field.jpg" alt="Agriculture Fence" />
        <p>
            For boundary fences of lands that are meant to protect livestock, vegetation and properties inlcude
            <ul>
                <li>Galvanized 2.5nn diamond mesh fence</li>
                <li>Field fence of 2.5mm</li>
                <li>Barbed wire Fence</li>
            </ul>
            These will have either Barbed wire, Razor Wire or Electric Fence as a extra feature of security.
        </p>

        <h2>Industries</h2>
        <img src="../static/images/industries.jpg" alt="Industries Fence" />
        <p>
            For property boundary of:
            <ul>
                <li>Galvanized 2.5nn diamond mesh fence</li>
                <li>Ant-Climb Wirewall</li>
                <li>Palisade Fencing</li>
            </ul>
            These will have either Barbed wire, Razor Wire or Electric Fence as a extra feature of security.
        </p>

        <h2>Parastatels</h2>
        <img src="../static/images/schools.jpg" alt="Parastatel Fence" />
        <p>
            For your schools, hospitals, clinics, councils and goverment complexes we serve:
            <ul>
                <li>Galvanized 2.5nn diamond mesh fence</li>
                <li>Ant-Climb Wirewall</li>
                <li>Palisade Fencing</li>
                <li>Welded-Mesh</li>
            </ul>
            These will have either Barbed wire, Razor Wire or Electric Fence as a extra feature of security.
        </p>

        <h2>NGOs</h2>
        <img src="../static/images/OIP.jpg" alt="NGOs Fence" />
        <p>
            For those community projects that need:
            <ul>
                <li>Galvanized 2.5nn diamond mesh fence</li>
                <li>Ant-Climb Wirewall</li>
                <li>Palisade Fencing</li>
                <li>Welded-Mesh</li>
            </ul>
            These will have either Barbed wire, Razor Wire or Electric Fence as a extra feature of security.
        </p>

        <h2>Construction Companies</h2>
        <img src="../static/images/constrction.jpg" alt="Construction Fence" />
        <p>
            For all boundary wire construction:
            <ul>
                <li>Galvanized 2.5nn diamond mesh fence</li>
                <li>Ant-Climb Wirewall</li>
                <li>Palisade Fencing</li>
                <li>Welded-Mesh</li>
            </ul>
            These will have either Barbed wire, Razor Wire or Electric Fence as a extra feature of security.
        </p>

        <h2>Individuals</h2>
        <img src="../static/images/house.jpg" alt="Individuals Fence" />
        <p>
            For that personal property fencing as an individual:
            <ul>
                <li>Galvanized 2.5nn diamond mesh fence</li>
                <li>Ant-Climb Wirewall</li>
                <li>Palisade Fencing</li>
                <li>Welded-Mesh</li>
            </ul>
            These will have either Barbed wire, Razor Wire or Electric Fence as a extra feature of security.
        </p>
    </div>
    <p id="spacedown">







    </p>

    <footer>
        Contact us on :
    </footer>


</body>
</html>