<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="../static/css/headers.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/Footer.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/productionpage.css" />
</head>
<body>
    <header>
        <h1>Welcome to National Fencing</h1>
        <nav>
            <ul class="nav_style">
                <li><a href="/">Home</a></li>
                <li><a href="/ProductPage">Products</a></li>
                <li><a href="/FullQuotePage">Full Quotation</a></li>
                <li><a href="/About">About & Contact Details</a></li>
            </ul>
        </nav>
        <input class="SB" type="text" placeholder="Search Product...." />
        <button id="BS" type="submit">Enter</button>
    </header>
    <h1>Product List and Prices</h1>
    <main>
        <div class="container">
            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

            <div class="product">
                <div class="image-container">
                    <img src="../static/images/Barbed.jpg" alt="product1" />
                    <div class="overlay">
                        <p class="description">This barbed wire can be installed on top or as barbed wire fencing with multi-strands</p>
                    </div>
                </div>
                <div class="details">
                    <h2>Barbed Wire</h2>
                    <p class="price">$90.44 USD Vat Inc</p>
                </div>
            </div>

        </div>
        
    </main>



    <footer>
        Contact us on :
    </footer>
</body>
</html>